# SUPER SIMPLE VERSION
name: Deploy Lambda

# Run when code is pushed
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    # 1. GET CODE
    - uses: actions/checkout@v4
    
    # 2. SETUP PYTHON
    - uses: actions/setup-python@v5
      with:
        python-version: '3.14'
    
    # 3. ZIP LAMBDA CODE
    - run: |
        cd test_CI_CD/hello_world
        cd ../../
    
    # 4. AWS LOGIN
    - uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-northeast-1
    
    # 5. DEPLOY
    - run: |
        aws lambda create-function \
          --function-name HelloWorld_CI_CD_TTN \
          --runtime python3.14 \
          --role arn:aws:iam::123456789012:role/lambda-ex \
          --handler hello_world.lambda_handler \
          --zip-file fileb://test_CI_CD/hello_world/deploy_package.zip || \
        aws lambda update-function-code \
          --function-name HelloWorld_CI_CD_TTN \